
.font {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}

.fontColor {
	color: #000000;
}

.fontHeader {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.fontHeaderColor {
	color: #ffffff;
}

.fontTextbox {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}

.fontTextboxColor {
	color: #000000;
}

.fontTextboxDisabled {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}

.fontTextboxDisabledColor {
	color: #ffffff;
}

.fontRequiredMarker {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.fontRequiredMarkerColor {
	color: #ff0000;
}

.fontButton {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}

.fontButtonColor {
	color: #ffffff;
}

.borderButton {
	border-width: 1px;
	border-style: solid;
}

.borderButtonColor {
	border-color: #ffffff;
}

.bgColorButton {
	background-color: #aaaaaa;
}

.bgColor {
	background-color: #ffffff;
}

.bgColorHeader {
	background-color: #aaaaaa;
}

.bgColorTextbox {
	background-color: #ffffff;
}

.bgColorTextboxDisabled {
	background-color: #cccccc;
}

.bgColorMenuDialog {
	background-color: #696969;
}

.border {
	border-width: 1px;
	border-style: solid;
}

.borderColor {
	border-color: #aaaaaa;
}

.itemRowOdd {
	background-color: #ffffff;
}

.itemRowEven {
	background-color: #696969;
}

.itemRowSelected {
	background-color: #aaaaaa;
}
