
.comboboxDiv {
	background-image: url('images/background.gif');
	background-position: top left;
	background-repeat: repeat-x;
	background-color: transparent;
	border: 1px solid #6699ff;
	position: relative;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxDivDisabled {
	background-image: url('images/background_dis.gif');
	background-position: center center;
	background-repeat: repeat-x;
	background-color: transparent;
	border: 1px solid #cccc99;
	position: relative;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxDivHover {
	background-image: url('images/background.gif');
	background-position: top left;
	background-repeat: repeat-x;
	background-color: transparent;
	border: 1px solid #6699ff;
	position: relative;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxTextBox {
	background-color: transparent;
	border: 1px dotted transparent;
	vertical-align: middle;
	position: relative;
	left: 0px;
	cursor: pointer;
}

.comboboxTextBoxDisabled {
	background-color: transparent;
	border: 1px dotted transparent;
	vertical-align: middle;
	position: relative;
	left: 0px;
	cursor: pointer;
}

.comboboxTextBoxHover {
	background-color: transparent;
	border: 1px dotted #000000;
	vertical-align: middle;
	position: relative;
	left: 0px;
	cursor: pointer;
}

.comboboxTextBoxText {
	color: #336666;
	font-family: tahoma;
	font-size: 12;
	font-weight: normal;
}

.comboboxTextBoxTextDisabled {
	color: #ffffff;
	font-family: tahoma;
	font-size: 12;
	font-weight: normal;
}

.comboboxTextBoxTextHover {
	color: #336666;
	font-family: tahoma;
	font-size: 12;
	font-weight: normal;
}

.comboboxButtonOpen {
	background-image: url('images/open.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comboboxButtonOpenDisabled {
	background-image: url('images/open_dis.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comboboxButtonOpenHover {
	background-image: url('images/open_hover.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comboboxButtonClose {
	background-image: url('images/close.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comboboxButtonCloseHover {
	background-image: url('images/close_hover.gif');
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

.comboboxOptionsOuterDiv {
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #000000;
	z-index: 1;
}

.comboboxOptionsOuterTable {
	width: 100%;
}

.comboboxOptionsDiv {
	border: 0px solid #11395e;
	height: 80px;
	width: 100%;
	overflow: auto;
}

.comboboxOptionsTable {
	width: 100%;
}

.comboboxOptionGroup {
	background-color: #aaaaaa;
	color: #000000;
	border: 1px solid transparent;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionGroupHover {
	background-color: #aaaaaa;
	color: #000000;
	border: 1px solid transparent;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowOdd {
	background-color: #9999ff;
	border: 1px solid transparent;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowOddHover {
	background-color: #aaaaaa;
	border: 1px dotted #000000;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowEven {
	background-color: #ccccff;
	border: 1px solid transparent;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowEvenHover {
	background-color: #aaaaaa;
	border: 1px dotted #000000;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowText {
	color: #336666;
	font-family: verdana;
	font-size: 12;
	font-weight: bold;
	vertical-align: middle;
}

.comboboxOptionRowTextHover {
	color: #336666;
	font-family: verdana;
	font-size: 12;
	font-weight: bold;
	vertical-align: middle;
}

.comboboxOptionRowSelected {
	background-color: #ccff66;
	border: 1px dotted #000000;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}

.comboboxOptionRowSelectedText {
	color: #000000;
	font-family: verdana;
	font-size: 12;
	font-weight: bold;
	vertical-align: middle;
}
