
.clockComponent {
	background-image: url('images/background.gif');
	background-repeat: repeat-x;
	height: 30px;
}

.clockTable {
	height: 100%;
}

.clockFont {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	cursor: default;
}

.clockDateTooltip {
	display: none;
	position: absolute;
	height: 15px;
	width: 85px;
	border: 1px solid #000000;
	background-color: lightyellow;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.clockTimeColumn {
	
}

.clockTimeDiv {
	
}

.clockConfigColumn {
	width: 34px;
}

.clockConfigDiv {
	width: 300px;
	height: 179px;
	display: none;
	border: 2px solid #000000;
	position: absolute;
}

.clockConfigHeaderRow {
	background-image: url('images/background.gif');
	background-repeat: repeat-x;
	height: 30px;
	vertical-align: middle;
}

.clockConfigHeader {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: middle;
}

.clockConfigFooterRow {
	background-image: url('images/background.gif');
	background-repeat: repeat-x;
	height: 30px;
	vertical-align: middle;
}

.clockConfigFooter {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: middle;
}

.clockConfigButton {
	height: 21px;
	width: 21px;
	vertical-align: middle;
	border: 1px inset transparent;
}

.clockConfigButtonHover {
	height: 21px;
	width: 21px;
	vertical-align: middle;
	border: 1px inset #ffffff;
	cursor: pointer;
}

.clockConfigRow {
	background-color: #ffffff;
	font-family: verdana;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}

.clockConfigBodyDiv {
	height: 100px;
	/*width: 100%;*/
	overflow: auto;
	border: 1px solid transparent;
}

.clockConfigOptionsOptionColumnHeader {
	background-color: #aaaaaa;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	width: 250px;
}

.clockConfigOptionsValueColumnHeader {
	background-color: #aaaaaa;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	width: 180px;
}

.clockConfigOptionsOptionColumn {
	border-right: 1px solid #000000;
	border-bottom: 1px solid transparent;
	width: 250px;
}

.clockConfigOptionsHSpace {
	width: 5px;
}

.clockConfigOptionsValueColumn {
	border-bottom: 1px solid transparent;
	width: 150px;
}

.clockConfigFieldLabel {
	width: 100%;
	white-space: nowrap;
}

.clockConfigFieldError {
	border: 1px solid #ff0000;
}
